@import '../assets/styles/variables';
@import '../assets/styles/mixins';


header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;

  nav {
    z-index: 1;
    position: relative;
    padding-inline: 20px;
    border-radius: 0 20px;
    border: 1px solid;
    width: max-content;
    border: 1px solid hsl(0, 0%, 22%);
    background-color: color(bg-color);
    margin-top: -1px;


    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 30px;
      margin-bottom: 0;


      li {
        padding: 20px 7px;

        .navbar_link {
          display: inline-block;

          @include font-rem(15px, 21px);
          font-weight: 500;
          // padding: 20px 7px;
          // transition: color var(--transition-1);



          &.active {
            color: color(link);
          }

          @include bp(sm) {
            @include font-rem(14px, 20px);
          }
        }

      }

      @include bp(tablet-sm) {
        justify-content: center;
      }

      @include bp(sm) {
        gap: 0;
      }
    }

    @include bp(tablet-sm) {
      width: 100%;
      backdrop-filter: blur(10px);
      z-index: 5;
      border-radius: 20px 20px 0px 0px;
      background-color: rgb(33 42 60 / 62%);

    }
  }

  @include bp(tablet-sm) {

    width: 100%;
    position: fixed;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;

  }
}