@import"./assets/styles/variables";
@import"./assets/styles/mixins";

.pages_content {

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  p {
    @include font-rem(15px, 24px);
    font-weight: 300;

    @include bp(sm) {
      @include font-rem(14px, 22.4px);
      margin-bottom: 15px;
    }
  }

  .article_title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 5px;
      background-color: color(link);
      border-radius: 3px;
    }

    @include bp(sm) {
      @include font-rem(24px, 43px);
      padding-bottom: 7px;
      margin-bottom: 25px;
    }

    animation: fade 0.5s ease backwards;

  }

  .timeline {

    .title_wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 25px;

      .icon_box {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: color(iconcolor);
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          inset: 1px;
          background-color: #38bdf81a;
          border-radius: inherit;
          z-index: -1;

        }

        @include bp(sm) {
          width: 30px;
          height: 30px;
        }

        svg {
          @include bp(sm) {

            width: 16px;
            height: 16px;
          }
        }
      }
    }

    ol.timeline_list {
      margin-left: 32px;

      li.timeline_item {
        position: relative;
        margin-bottom: 20px;

        &:not(:last-child):before {
          position: absolute;
          content: "";
          width: 1px;
          height: calc(100% + 50px);
          background-color: color(bg-color);
          top: -26px;
          left: -40px;

          @include bp(sm) {
            left: -31px;

          }
        }

        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: color(link);
          box-shadow: 0 0 0 4px color(bg-color);
          top: 6px;
          left: -44px;

          @include bp(sm) {
            width: 6px;
            height: 6px;
            left: -33px;
            top: 10px;


          }
        }

        .timeline_item_role {
          @include font-rem(18px, 24px);
          font-weight: 500;
          margin-bottom: 7px;

          @include bp(sm) {
            @include font-rem(16px, 24px);
          }
        }

        .timeline_item_title {
          @include font-rem(18px, 24px);
          margin-bottom: 7px;
          font-weight: 500;

          @include bp(sm) {
            @include font-rem(16px, 24px);
          }
        }

        span {
          @include font-rem(15px, 24px);
          font-weight: 400;
          color: color(link);
        }
      }

      @include bp(sm) {
        margin-left: 45px;
        padding-left: 0;
      }
    }

    animation: fade 0.5s ease backwards;

  }

  // Styling for about section ---- technical skill

  section.about_text {
    margin-bottom: 40px;
    animation: fade 0.5s ease backwards;

  }

  section.technical_sec {

    overflow: hidden;

    h3 {
      margin-bottom: 20px;
    }

    margin-bottom: 40px;


    ul.logos {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 20px;
      row-gap: 20px;
      // animation: marquee 20s linear infinite;


      li {
        background-color: color(bg-color);
        gap: 10px;
        border-radius: 10px;
        padding: 10px;
        width: 112px;
        height: auto;
        @include font-rem(14px, 24px);
        font-weight: 600;

        img {
          width: 48px;
          height: 48px;
          max-width: 3rem;
          max-height: 3rem;

        }
      }


    }

    animation: fade 0.5s ease backwards;


  }

  section.clientSec {
    // margin-bottom: 40px;

    h3 {
      margin-bottom: 20px;
    }

    .marquee {
      mask-image: linear-gradient(var(--mask-direction, to right),
          hsl(0 0% 0% / 0),
          hsl(0 0% 0% / 1) 20%,
          hsl(0 0% 0% / 1) 80%,
          hsl(0 0% 0% / 0));
      position: relative;
      overflow: hidden;


      ul.client {
        column-gap: 20px;
        justify-content: space-around;
        flex-wrap: nowrap;
        animation: marquee 20s linear infinite;
        white-space: nowrap;
        position: relative;


        li {
          padding: 10px;

          img.logoClient {
            max-width: 200px;
            max-height: 200px;
          }
        }


      }

      @keyframes marquee {
        from {
          transform: translateX(0%);
        }

        to {
          transform: translateX(-100%);
        }
      }
    }

    animation: fade 0.5s ease backwards;

  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  // Styling for portfolio page 
  .tabs {
    animation: fade 0.5s ease backwards;

    ul {

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      margin-bottom: 30px;

      li {

        @include bp(sm) {
          @include font-rem(14px, 14px);

        }
      }

      @include bp(sm) {

        gap: 10px;
      }
    }
  }

  .tab-content {
    animation: fade 0.5s ease backwards;

    .cards {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 30px;


        li {
          animation: scaleUp 0.25s ease forwards;

          a {
            box-shadow: inset 0 1px 0 0 #ffffff0d;
            position: relative;

            .project_img {
              position: relative;
              width: 100%;
              height: 200px;
              border-radius: 16px;
              overflow: hidden;
              margin-bottom: 15px;

              img {
                margin-bottom: 18px;
                border-radius: 16px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.25s ease;



              }

              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                z-index: 1;
                transition: all 0.25s ease;

              }

              .eye {
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 18px;
                background-color: color(bg-color);
                font-size: 20px;
                transform: translate(-50%, -50%) scale(0.8);
                border-radius: 12px;
                opacity: 0;
                z-index: 1;
                transition: all 0.25s ease;
                color: color(iconcolor)
              }
            }

            div {
              padding: 0 10px 10px 10px;

              .cardTitle {
                @include font-rem(15px, 24px);
                font-weight: 400;
                margin-bottom: 0;
                text-transform: capitalize;
              }

              .description {
                @include font-rem(15px, 24px);
                font-weight: 300;
                color: color(secondary, font-color);
              }

              .techDetails {
                display: flex;
                justify-content: flex-start;
                gap: 6px;

                span {
                  margin-top: 10px;
                  padding: 6px;
                  // background-color: color(bg-color)
                  background-color: rgb(25 39 66/ 1);
                  border-radius: 8px;
                  text-transform: capitalize;

                }
              }

              a {
                @include font-rem(14px, 24px);
                font-weight: 600;
                display: block;

              }

              p {
                span {}
              }
            }

            &:hover {
              .eye {
                opacity: 1;
                scale: 1;
              }

              .project_img::before {
                background: hsla(0, 0%, 0%, 0.5);
              }

              img {
                transform: scale(1.1);
              }


            }
          }


        }

        @include bp(sm) {
          grid-template-columns: 1fr;
        }
      }
    }

    @keyframes scaleUp {
      0% {
        transform: scale(0.5);
      }

      100% {
        transform: scale(1);
      }

    }
  }


  // styling for contactus Page

  section.mapbox {
    animation: fade 0.5s ease backwards;
    border-radius: 16px;
    height: 380px;
    margin-bottom: 30px;

    figure {
      height: 100%;

      iframe {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        filter: opacity(0.5);
      }
    }

    @include bp(sm) {
      height: 250px;

    }
  }

  .contact-form {
    animation: fade 0.5s ease backwards;

    h3 {
      margin-bottom: 20px;
    }

    form {

      input,
      textarea {
        display: block;
        width: 100%;
        background: none;
        border: 1px solid color(bordercolor);
        border-radius: 14px;
        outline: none;
        padding: 15px 20px;
        color: color(fontcolor);
      }

      .input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-bottom: 30px;

        .form-input {
          // color: inherit;
          @include font-rem(15px, 24px);
          font-weight: 400;
          padding: 15px 20px;

          &:focus {
            border-color: color(iconcolor)
          }

          &:active {
            background: unset;
          }

          &:-webkit-autofill {
            background-color: unset !important;
          }


          @include bp(sm) {
            padding: 13px 20px;

          }
        }

        @include bp(sm) {
          grid-template-columns: 1fr;
          gap: 15px;
          margin-bottom: 20px;

        }
      }

      textarea.form-input {
        min-height: 100px;
        height: 120px;
        max-height: 200px;
        resize: vertical;
        // margin-bottom: 25px;

        &:focus {
          border-color: color(iconcolor)
        }
      }

      .form-btn {
        outline-style: unset;
        position: relative;
        color: color(iconcolor);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 13px 20px;
        border-radius: 14px;
        background-color: color(bg-color);
        text-transform: capitalize;
        // box-shadow: var(--shadow-3);
        z-index: 0;
        transition: all 0.25s ease;
        width: max-content;
        margin-left: auto;
        margin-top: 25px;

        @include bp(sm) {
          width: 100%;


        }
      }

    }

    span.errorMsg {
      @include font-rem(15px, 24px);
      font-weight: 400;
      color: red;
      margin-top: 10px;
      padding-left: 5px;
      display: inline-block;
    }
  }

  .greetings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;

    // left: auto;
    // top: 50%;
    // margin: 0 auto;
    // position: absolute;
    // right: auto;
    // bottom: auto;
    // z-index: 1;
    .greetings {
      background-color: color(bg-color);

      p:first-child {
        margin-bottom: 0;
      }
    }
  }



}