@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ==========================================================================
  Base Typography Styles
  ========================================================================== */

/* ==========================================================================
   Base Type
   ========================================================================== */
* {
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus,
  &:active,
  &:hover {
    &::-moz-focus-inner {
      border: 0;
    }

    outline: 0;
  }
}

html {
  @include font-rem($htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}



body {
  @include font-rem($htmlFontSize);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  // color: #ffffff;
  color: rgb(203 213 225/1);
  background-color: rgb(11 17 32/1);
  background: url("/src/assets/images/bodyBg.jpg");
  background-size: 86.125rem;





  p {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include font-rem(14px, 20px);


    @include bp(mobile) {
      @include font-rem(14px, 18px);
    }
  }
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

/* ==========================================================================
     Headings and paragraph
     ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
  margin-bottom: 0px;
  // @extend %baseSpacing;

}

h1,
.h1 {
  @include font-rem(26px, 38.4px);
  font-weight: 500;
  letter-spacing: -0.25px;

  @include bp(tablet-sm) {
    @include font-rem(26px, 38.4px);
  }
}

h2,
.h2 {
  @include font-rem(32px, 32px);
  font-weight: 600;
  // letter-spacing: -1.92px;


  @include bp(tablet-sm) {
    @include font-rem(32px, 32px);
    // margin-bottom: 32px;
  }
}

h3,
.h3 {
  @include font-rem(32px, 38.4px);


  @include bp(tablet-sm) {
    @include font-rem(32px, 38.4px);
  }
}

h4,
.h4 {
  @include font-rem(22px, 28.6px);
  font-weight: 700;

  @include bp(tablet-sm) {
    @include font-rem(22px, 28.6px);
  }
}

h5,
.h5 {
  @include font-rem(20px, 20.8px);
  font-weight: 500;

  @include bp(mobile) {
    @include font-rem(14px, 18.2px);
  }
}

h6,
.h6 {
  @include font-rem(16px, 20.8px);
  font-weight: 700;

  @include bp(mobile) {
    @include font-rem(14px, 18.2px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: inherit;
  transition: 0.3s;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

img {
  max-width: 100%;
}



ul {
  padding: 0;
}

li {
  list-style: none;
}

section#body {
  margin: 60px 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-position: bottom 1px center;
  inset: 0;
  // mask-image: linear-gradient(to bottom, transparent, black);

  .main_content {

    border-radius: 25px;
    box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    background-color: color(bginfo);
    border: 1px solid hsl(0, 0%, 22%);
    padding: 30px;

    @include bp(tablet-md) {
      position: relative;
    }

    @include bp(sm) {
      padding: 15px;
    }
  }



  @include bp(tablet-sm) {
    // @include font-rem(14px, 16px);
    // font-weight: 700;
  }

  @include bp(sm) {
    margin: 15px 0;
  }

}